
<div class="errorExplanation"><%= error_messages_for 'obrasociale' %></div>
<!--[form:obrasociale]-->
<div style="position: relative; left: 500px; top:50px;">
<table cellspacing='10' border='0' style="border-style:solid; letter-spacing: 2px;"> 
<tr><td><label for="obrasociale_nombre">Nombre</label><br/>
<%= text_field 'obrasociale', 'nombre'  %></td></tr>
</table>
</div>

<!--[eoform:obrasociale]-->

