<div class="errorExplanation"><%= error_messages_for 'practica' %></div>

<div style="position: relative; left: 500px; top:10px;">
<table cellspacing='10' border='0' style="border-style:solid; letter-spacing: 2px;" > 
<tr><td><label for="practica_nombre">Nombre</label><br/>
<%= text_field 'practica', 'nombre'  %></td></tr>

<tr><td><label for="practica_codpractica">Código</label><br/>
<%= text_field 'practica', 'codpractica'  %></td></tr>
</table>
</div>
<!--[eoform:practica]-->

